html
    head
        title=pageTitle
    body
        include nav.pug
        a(href="/home")
            h1=pageHeader
        block contentBlock
    footer='Created in 2019 by Christian Moore and Kyle Murphy'
