html
    head
        title=pageTitle
        link(href="/styles/site.css", rel="stylesheet", type="text/css")
    body
        include nav.pug
        h1=pageHeader
        block contentBlock
    footer='Created in 2019 by Christian Moore and Kyle Murphy'
