extends layout.pug
block contentBlock
    if errorMessage
        h2(class="text-red-600 my-6")=errorMessage
    form(action="/admin/login", method="post")
        div(class="formEntry")
            label(for="usernameOrEmail")="Username or Email"
            input(type="text", name="usernameOrEmail")
        div(class="formEntry")
            label(for="password")="Password"
            input(type="password", name="password")
        input(type="submit", value="Verify Log In")
    a(href="/admin/register")="Register"